# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / VS Code / VS
.idea/
.vscode/
*.csproj.user

# ASP.NET
wwwroot/dist/
wwwroot/node_modules/

# Logs
*.log

# Test results
TestResults/
*.trx
*.coverage
*.coveragexml

# Others
node_modules/
.env
.db

carbooking.frontend/
